<div class="container">
  <div>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchInput"
      placeholder="Start typing to find books"
    />
  </div>
  <table class="table table-striped" *ngIf="books$ | async as books">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="clickableRow"
        *ngFor="
          let book of books.content
            | filter : searchInput
            | paginate
              : {
                  itemsPerPage: 15,
                  currentPage: p,
                  totalItems: books.content.length
                }
        "
        [routerLink]="['/books', book.id]"
      >
        <th scope="row">
          {{ book.title }}
        </th>
        <td>
          {{ book.author }}
        </td>
        <td>
          {{ book.genre }}
        </td>
        <td>
          {{ book.year }}
        </td>
        <td>
          {{ book.status }}
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
