
<h1>All Checkouts</h1>
<table class="table table-striped" *ngIf="(checkouts$ | async) as checkouts">
  <thead>
    <tr>
      <th>Borrower's First Name</th>
      <th>Borrower's Last Name</th>
      <th>Book Borrowed</th>
      <th>Date Borrowed</th>
      <th>Due Date</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let checkout of checkouts.content| paginate: {
                                                      itemsPerPage: 20,
                                                      currentPage: p}"
                                                      [routerLink]="['/checkout', checkout.id]">
      <th scope="row">
        {{checkout.borrowerFirstName}}
      </th>
      <td>
        {{checkout.borrowerLastName}}
      </td>
      <td>
        {{checkout.borrowedBook.title}}
      </td>
      <td>
        {{checkout.checkedOutDate}}
      </td>
      <td>
        {{checkout.dueDate}}
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
