


<div class="container mat-elevation-z4" *ngIf="book$ | async; let book">
  <mat-card>
    <mat-card-header>TITLE: {{book.title}}</mat-card-header>
    <mat-card-content>
      <div >
        <mat-list>
          <mat-list-item>Author: {{book.author}}</mat-list-item>
          <mat-list-item>Genre: {{book.genre}}</mat-list-item>
          <mat-list-item>Published: {{book.year}}</mat-list-item>
          <mat-list-item>Added: {{book.added}}</mat-list-item>
          <mat-list-item>Status: {{book.status}}</mat-list-item>

         </mat-list>
         </div>

         <button (click)="remove(book)"> DELETE </button>
         <button (click)="save"> UPDATE </button>
    </mat-card-content>

  </mat-card>
</div>









